:root {
    --clr-background: hsl(185, 41%, 84%);
    --clr-accent: hsl(172, 67%, 45%);
    --clr-neutral-900: hsl(183, 100%, 15%);
    --clr-neutral-700: hsl(186, 14%, 43%);
    --clr-neutral-500: hsl(184, 14%, 56%);
    --clr-neutral-300:hsl(185, 41%, 84%);
    --clr-neutral-200: hsl(189, 41%, 97%);
    --clr-neutral-100: hsl(0,0%,100%);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    background-color: var(--clr-background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

input,
button {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    width: 100%;
}

.container {
    margin: 0 auto;
    width: min(90%, 90rem);
}

/* header */

.tittle__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
    margin-bottom: 2rem;
}
.tittle__wrapper h1 {
    font-weight: 700;
    font-size: 2rem;
    color: var(--clr-neutral-900);
}

/*  main */

.calculator__wrapper {
    background-color: var(--clr-neutral-100);
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.calculator__wrapper > * {
    flex: 1;
}

/* operations */
.operations__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 1rem;
}

.operations__container > * {
    margin-bottom: 1rem;
}

.operation-section__title {
    color: var(--clr-neutral-700);
    font-weight: 700;
    margin-bottom: .5rem;
}

.input__container {
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-neutral-200);
    padding: .5rem;
    width: 100%;
}

.standard__input {
    color: var(--clr-neutral-900);
    font-size: 1.5rem;
    text-align: right;
    border: none;
    outline: none;
    background-color: transparent;
}
.tips__button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.tip__button {
    text-align: center;
    font-size: 1.2rem;
    border-radius: 5px;
    width: 100%;
    padding: .5rem;
    border: none;
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100);
    cursor: pointer;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"]:checked + .tip__button {
    background-color: var(--clr-accent);
    color: var(--clr-neutral-900);
}

.tip__input {
    font-size: 1.2rem;
    color: var(--clr-neutral-900);
    width: 100%;
    padding: .5rem;
    background-color: var(--clr-neutral-200);
    border: none;
    outline: none;
    text-align: right;
    cursor: pointer;
}
/* display */
.display__container {
    background-color: var(--clr-neutral-900);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    padding: 1rem;
}

.tip-amount__container,
.total__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.left-side__container {
    line-height: 1;
}
.display-section__title {
    color: var(--clr-neutral-100);
}
.display-section__subtitle {
    color: var(--clr-neutral-500);
}
.display-section__number {
    font-size: 2rem;
    font-weight: 700;
    color: var(--clr-accent);
}

.reset__button {
    background-color: var(--clr-accent);
    color: var(--clr-neutral-900);
    font-weight: 700;
    padding: .5rem;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}
.reset__button:hover {
    opacity: .8;
}

/* footer */
.attribution { font-size: 11px; text-align: center; margin-top: 3rem;}
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width: 768px) {
    .calculator__wrapper {
        flex-direction: column;
        width: 100%;
    }
    .tips__button-container {
        grid-template-columns: repeat(2, 1fr);
    }
}